html,body {
  height:100%;
}
div.clientSettingView {
  position: relative;
  height: 4rem;
  width: 100%;
  text-align: center;
  background-color: #ddddff;
}
div.mainView {
  position: relative;
  top: 10px;
  height: 600px;
  width: 100%;
  text-align: center;
  background-color: #ffbbbb;
}
div.bottomView{
  position: relative;
  top: 10px;
  height: 100px;
  width: 100%;
  text-align: center;
}

.conductorViewPlayerVideo {
  border: 2px solid red;
}
.conductorViewPlayerNameVideoDiv {
  cursor: move;
}
.conductorViewPlayerNameVideoDiv.over {
  border: 3px dotted #666;
}
.conductorUI {
    height: 10%;
    width: 100%;
}
.conductorViewPlayerVideoDiv {
  height: 90%;
  width: 100%;
  display: grid;
/*
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
*/
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  grid-template-rows: repeat(5, minmax(100px, 1fr));
}
.conductorViewLocalVideoDiv {
  height: 100%;
  width: 100%;
  text-align: center;
}
.conductorViewLocalVideo {
  border: 2px solid #44aa44;
}

.playerViewConductorVideo {
  border: 2px solid red;
}
.playerViewConductorVideoDiv {
  height: 100%;
  width: 100%;
  text-align: center;
}
.playerViewPlayerVideo {
  border: 2px solid #88dd88;
}
.playerViewPlayerVideoDiv {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: #99ff99;
}
.playerViewLocalVideo {
  border: 2px solid #44aa44;
}
.playerViewLocalVideoDiv {
  height: 100%;
  width: 100%;
  background-color: #dddddd;
}
